@import "../utils/variables";

.postWrapper {
    text-align: left;
}

.postMetadata {
    font-family: $fontUbuntu;
    color: $green;
    display: block;
    background: $backgroundDarker;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
}

li {
    font-family: $fontUbuntu;
}

dt, dd {
    line-height: 1.5;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
}

dt::after {
    content: ":";
}

// .project-banner {
//   position: fixed;
//   top: 20%;
//   transform: rotate(45deg);
//   z-index: 1000;
// }
//

.project-banner {
  width: 10%;
  height: auto;
  display: block;
}

