@import "../utils/variables";

.postDate {
  float: right;
  color: $red;
  font-family: $fontUbuntu;
  text-weight: bold;
}

.postTitle {
  color: $green;
  text-decoration: none;
  text-transform: lowercase;
  font-family: $fontHeader;
  font-size: 1.2em;
  float: left;
  margin-left: 5px;
  font-weight: normal !important;
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 15px;
  background-color: $charcoal;
  margin-bottom: 25px;
  // border: 1px;
  // border-style: dotted;
  // border-color: $white;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: $white;
  font-family: $fontUbuntu;
  font-weight: normal !important;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
